@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.time{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 70px;
    font-weight: 600;
    border-radius: 10px;
}

.glass{
    color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    border: solid 1px rgba(255,255,255,.3);
    background-clip: padding-box;
    backdrop-filter: blur(10px );
  }

